/*BASE------------------------------------------------------------------------*/

body {
    font-size: 18px;
    color: #333;
    background-color: #ffd11a;
    font-family: 'Roboto', sans-serif;;
}

body.no-scroll{
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    margin-bottom: 0.8em;
}

h2 {
    font-size: 2.5em;
    margin-top: 0.6em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
    color: #fff;
}

p {
    line-height: 1.5;
}

/*navigation*/

nav a,
nav a:hover,
nav a:focus {
    color: #fff;
}
nav {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    margin-top: 1em;
}
nav a {
    padding: 0.1em 0.5em;
    font-size: 1.5em;
    line-height: 1;
    background-color: transparent;
    background-color: rgba(51,51,51,0);
    transition: background-color 0.3s;
}
nav a:hover,
nav a.active {
    background-color: #333;
    background-color: rgba(51,51,51,1);
}

nav ul li {
    display: inline-block;
}

nav ul li ul {
    position: fixed;
    background-color: #fff;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;
    text-align: center;

    -webkit-transition: all 0.3s; 
    -moz-transition: all 0.3s; 
    -ms-transition: all 0.3s; 
    -o-transition: all 0.3s; 
    transition: all 0.3s; 

}

.submenu-li-wrapper {
    font-size: 1.2em;
}

nav .category-list li {
    margin: 0.5em 0.2em;
}

nav .fa-times {
    position: fixed;
    top: 1em;
    right: 1em;
    font-size: 1.5em;
    color: #fff;
    cursor:pointer;
}

.submenu-hide {
    height: 0;
}
.submenu-hide li,
.submenu-hide a,
.submenu-hide .fa-times {
    display: none;
}

.logo,
nav {
    text-align: center;
}


.logo h2 {
    font-size: 3em;
    font-family: 'Londrina Solid', sans-serif;
    color: #fff;
    text-align: center;
}


.tagline {
    margin-top: -1em;
    font-size: 0.9em;
    font-style: italic;
    color: #888;
    text-align: center;
}



/*LAYOUT----------------------------------------------------------------------*/
.content-wrapper {
    margin: 2em 0;
}

.icon-link:hover {
    border: none;
}

.button {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.shop-button {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;   
    font-size: 1.5em;
    margin: 2em 0;

}

.shop-button a {
    background-color: #B81324;
    color: #fff;
    padding: 0.5em 2em;
    transition: opacity 0.3s;
}

.shop-button a:hover {
    opacity: 0.8;
}

/*forms*/
form p {
margin-bottom: 0;
}

textarea {
min-height: 7em;
}

/*top row*/
.top-row {
    background-color: #333;
    color: #fff;
    padding: 0;
}

.top-row .column {
    padding: 0;
}

.top-row p {
    margin: 0;
    padding-top: 0.3em;
    padding-left: 1em;
}

.top-row .button {
    margin: 0;
}

/*top posts*/
.top-posts-wrapper {
    margin-bottom: 30px;
    height: 25em;
}
.top-posts-image {
    padding-right: 0;
    overflow: hidden;
}
.top-posts-details-wrapper {
    background-color: #fff;
}
.top-posts-details {
    padding: 1em 2em;
}
.top-post-excerpt {
	padding-bottom: 0.8em;
}

.top-posts-image-background {
background-color: #333;
}

/*sidebar*/

.sidebar-wrapper {
    margin-top: 3em;
    text-align: center;
}

.sidebar-wrapper h3 {
    color: #fff;
}

.random-post-wrapper {
    position: relative;
    margin: 2em 1em;
}

.random-post-title-wrapper {
    background-color: transparent;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.3s;
}

.random-post-title-wrapper:hover {
    background-color: rgba(0,0,0,0);
}

.random-post-title {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

/*Main Loop*/
.post-wrapper,
.single-post-wrapper{
    position: relative;
    background-color: #fff;
    margin-bottom: 30px;
}

.post-content-wrapper,
.comment-wrapper {
    padding: 1.2em 1.5em 4em 1.5em;
}

.category-label {
    line-height: 0;
    margin: 0;
    position: absolute;
    top: 1em;
    right: -10px;
    padding: 1.1em 1.2em;
    color: #fff;
    border: 2px solid transparent;
}

.category-label:hover {
    border: 2px solid #fff;
}

.read-more-link {
    position: absolute;
    bottom: 1.5em;
}

.read-more-link .fa:before {
    position: relative;
    bottom: -0.16em;
    left: 0.2em;
}

.read-more-link .text {
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 2px solid #2199e8;
}

.pagination-links a:hover {
    border-bottom: 2px solid #2199e8;
}

.pagination-links a.current {
    font-weight: 700;
    border-bottom: 2px solid #2199e8;
}

/*category page*/
.category-list {
    text-align: center;
}

.category-list li {
    padding: 1em 0.2em;
    display: inline-block;
    margin: 0.2em;
}

.category-list a {
    color: #fff;
    padding: 0.5em 2em;
    border: 5px solid transparent;
}

.category-list a:hover {
    border: 5px solid #fff;
}

/*post page*/

.post-img {
    width: 100%;
}

.single-post-wrapper {
    margin-bottom: 4em;
}

.single-post-wrapper h2 {
    color: #2199e8;
}

.post-text-wrapper a,
.post-text-wrapper a:hover,
.post-text-wrapper a:focus {
    color: #B81324;
}

.post-text-wrapper a {
    border-bottom: 1px solid #B81324;
    transition: opacity 0.3s;
}

.post-text-wrapper h3 {
    margin-top: 1em;
}

.post-text-wrapper a:hover {
    opacity: 0.6;
}

.comment-wrapper {
    background-color: #f9f0cc;
    margin-bottom: 30px;
}

.comment-form {
    margin-bottom: 1em;
}

.comment-textarea {
    height: 7em;
}

.comment-author-photo {
    width: 4em;
    height: 4em;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 1em 0;
}

.comment-date {
    font-style: italic;
    margin-top: 1em;
}

.tags-list {
    margin-top: 6em;
}

.tags-list a {
    background-color: #2199e8;
    color: #fff;
    margin: 0.2em;
    padding: 0.2em 0.5em 0.4em 0.5em;
    transition: opacity 0.3s;
    border-radius: 3px;
    display: inline-block;
}

.tags-list a:hover {
    opacity: 0.8;
}

/*footer*/
.scroll-to-top-container {
	position: relative;
}
.scroll-to-top-button {
	color: #fff;
	font-size: 3em;	
	position: absolute;
	top: -0.5em;
	right: 0.5em;
}

footer {
    margin-top: 5em;
    padding: 3em 0 1.5em 0;
    background-color: #333;
}

footer .column,
footer .columns {
    margin-bottom: 1em;
}

footer a,
footer a:hover,
footer a:focus {
    color: #fff;
}
footer a:hover {
    border-bottom: 1px solid #fff;
}

footer .fa {
    font-size: 1.5em;
    padding-right: 0.5em;
}

footer .shop-button {
    text-align: left;
    margin: 1.5em 0;
    font-size: 1em;
}

footer .shop-button a:hover {
    border: none;
}

.copyright-text {
    font-size: 0.8em;
}

.copyright-text,
.copyright-text a {
    color: #fff;
}

.copyright-text a {
    border-bottom: 1px solid #fff;
}

/*about page*/
.page-content-wrapper {
    margin-top: -1em;
    padding: 2.5em 1.5em 1.5em 1.5em;
    background-color: #fff;
}


/*CMS*/
.small-img {
    width: 15em;
}


/*MODULES---------------------------------------------------------------------*/

/*list styles*/
.list-unstyle {
    list-style: none;
    margin: 0;
}
.list-unstyle ul {
    list-style: none;
    margin: 0;
}
.list-horizontal li {
    display: inline-block;
}

.two-col-list {
    column-count: 2;
}

/*utilities*/
.float-left {
    float: left;
}
.float-right {
    float: right;
}

/*desktop and up*/
@media all and (min-width: 1024px) {
    .logo {
        text-align: left;
    }
    nav {
        text-align: right;
    }
    .random-post-wrapper {
        margin: 1em 3.5em 1.5em 3.5em;
    }
    
    .sidebar-wrapper {
        margin-top: 0;
    }

}

/*tablet and up*/
@media all and (min-width: 480px) {
    .submenu-li-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}